.highlightsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #1e213a;
}

.highlightsItem:nth-child(3),
.highlightsItem:nth-child(4) {
  padding-bottom: 3rem;
}

.highlightsItemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  font-size: 1.5em;
}

.windDegContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.windDegContainer i {
  color: #e7e7eb;
}

.highlightsItemInfo span {
  font-size: 2.5em;
  font-weight: 700;
}

.humidityPorcentageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}

.humidityPorcentage {
  overflow: hidden;
  width: 100%;
  height: 0.5rem;
  background-color: #e7e7eb;
  border-radius: 99px;
}

.percentageIndicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.percentageIndicators span {
  font-size: 0.8em;
  font-weight: 400;
}

.progressHumidityPorcentage {
  height: 0.5rem;
  background-color: #ffec65;
}

.porcentageIcon {
  align-self: flex-end;
}
