.unitConverter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 85%;
}

.unitConverter button {
  width: 3rem;
  height: 3rem;
  font-weight: 700;
  background-color: #6e707a;
  border-radius: 50%;
}

.unitConverter button.selected {
  color: #000000;
  background-color: #e7e7eb;
}

@media screen and (max-width: 875px) {
  .unitConverter {
    justify-content: center;
  }
}
