.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0;
}

@media screen and (min-width: 876px) {
  .details {
    overflow-y: auto;
    width: 70%;
    height: 100vh;
  }
}

@media screen and (max-width: 875px) {
  .details {
    width: 100%;
    min-height: 100vh;
  }
}
