.dashboardMenu {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.dashboardMenu button {
  height: 3rem;
  font-size: 1em;
  background-color: #6e707a;
  border: none;
  cursor: pointer;
}

.dashboardMenu button:first-child {
  padding: 0 0.75rem;
}

.dashboardMenu button:last-child {
  width: 3rem;
  border-radius: 50%;
}

.dashboardMenu button:last-child img {
  vertical-align: middle;
}
