.highlightItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #1e213a;
}

.highlightItem h4 {
  font-size: 1em;
  font-weight: 400;
}

.highlightItem:nth-child(3),
.highlightItem:nth-child(4) {
  padding-bottom: 3rem;
}

.highlightItem p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.highlightItem p span {
  font-size: 2.5em;
  font-weight: 700;
}
