.footer {
  display: flex;
}

.footer p {
  font-size: 0.875em;
  text-align: center;
}

.footer a {
  font-weight: 700;
}

.footer a:hover {
  text-decoration: underline;
}

.footer i {
  margin-left: 0.2rem;
}
