.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  overflow-x: hidden;
  padding: 2rem 0;
  background-color: #1e213a;
}

@media screen and (min-width: 876px) {
  .panel {
    overflow-y: auto;
    width: 30%;
    height: 100vh;
  }
}

@media screen and (max-width: 875px) {
  .panel {
    width: 100%;
    min-height: 100vh;
  }
}
